node_modules
dist
build
.vscode
.idea
vite.config.ts.timestamp-*
coverage
docs
stats.html
yarn-error.log
.DS_Store
wallaby.conf.cjs
*.tgz
.svelte-kit

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
